<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="decode" stopProcessing="true">
                    <match url="^[0-9a-zA-Z]+$" />
                    <action type="Rewrite" url="index.php/Index/decode/data/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="defaultController" stopProcessing="true">
                    <match url="^[a-zA-z_][a-zA-z_0-9]*\.html" />
                    <action type="Rewrite" url="index.php/Index/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="validator" stopProcessing="true">
                    <match url="^v/(.+)$" />
                    <action type="Rewrite" url="index.php/Validator/{R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
