html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

div
{
    display: block;
}

.topnav, .footer, .sbox button
{
    background-color: #408080;
}

.sbox button,ul > li,ul > li a:visited {
    color: #ebebeb;
}

.topnav
{
    height: 28px;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer
{
    bottom: 0;
    height: 35px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.content
{
    bottom: 0px;
    /*height: 800px;*/
    left: 0px;
    /*min-width: 600px;*/
    position: absolute;
    right: 0px;
    top: 28px;
}

    .content .main-container
    {
        bottom: 0px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .content .content-banner
    {
        height: 58px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .content .main-content
    {
        bottom: 39px;
        left: 0px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 58px;
    }

.sbox-c
{
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    height: 130px;
    position: relative;
    width: 600px;
}

.sbox-N
{
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.5);
    margin-bottom: 25px;
}

.sbox-J
{
    -webkit-user-select: none;
    user-select: none;
}

.sbox-P
{
    color: #222;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 100px;
    margin: 25px 25px 25px 25px;
    width: 550px;
}

.sbox-container
{
    padding: 25px;
}

.sbox
{
    border: 1px #408080 solid;
    height: 45px;
    margin: 22px 0 auto 0;
    position: absolute;
    width: 550px;
}

    .sbox:hover
    {
        box-shadow: 0px 0px 8px rgba(64, 128, 128, 0.5);
    }

    .sbox button
    {
        -webkit-appearance: none;
        background-image: url(/content/img/zbutton.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32px;
        border: 0;
        
        float: left;
        font-size: 18px;
        font-weight: bold;
        height: 45px;
        margin: 0;
        outline: none;
        padding: 0;
        width: 80px;
    }

        .sbox button:hover
        {
            background-size: 40px;
            cursor: pointer;
        }

    .sbox input
    {
        border: 0;
        float: left;
        height: 45px;
        margin: 0;
        padding: 0;
        position: relative;
        width: 470px;
    }

.sinput
{
    -webkit-appearance: none;
    border: 0;
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    font-size: 18px;
    outline: none;
    padding: 0;
}

.rbox-RBCO
{
    width: 600px;
}

.rbox-RBAO
{
    margin-right: 20px;
    vertical-align: top;
}

.rbox-RBFI
{
    display: inline-block;
    position: relative;
}

.rbox-RBBO
{
    width: 330px;
}

.rbox-RBFI
{
    display: inline-block;
    position: relative;
}

.footer-RBHJ
{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #ebebeb;
    color: #777;
    font: normal 13px arial, sans-serif;
    padding: 11px 25px;
}

    .footer-RBHJ ul
    {
        overflow: hidden;
    }

ol, ul
{
    list-style: none;
}

.footer-RBHJ ul > li
{
    float: left;
    margin: 0 8px;
}
 