<extend name="_layout" />
<block name="main">
  <div class="jumbotron">
         <h1>About ZRL</h1>
         <p>Hello everybody:</p>
         <p>Welcome to zrl.so. This web site is used to shorten url. This is really a cool stuff.</p>
         <p>Imagine that you have got a very cool link or web site and you wanted to share with your friends or keep it in your blog.</p>
         <p> You may try to use 'Ctrl + C' and 'Ctrl + V', and send it to your friends via IM, email or other way. That is very easy indeed.</p>

         <p>But, if you want to share it via mobile device, how to do that?  Typing the full URL on your mobile device ?</P>
         <p>If the URL is very very very long, that would be a nightmare.  If use zrl.so that would be different. You can shorten the URL and share it over mobile device via just scan the QR code.</p>
         <p>You can input your own url and zip(shorten) it and you can share it to your friends.</p>
         <p>Scan the QR code below to quick access http://zrl.so on mobile device</p>
         <p>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <span class="thumbnail" style="width:120px;">
                  <img   src="/content/img/zrl.so.png"   />
                </span>
              </div>
            </div>
         </p>
  </div>
    <script type="text/javascript">
        require(['bootstrap']);
    </script>
</block>
