<extend name="_layout" />

<block name="main">
<div class="row bg-warning">
         <div class="col-lg-2 ">
     
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-8 zrl-group">
    <div class="input-group input-group-lg" style="margin-bottom:15px;">
        <input type="text" autocomplete="off"   class="form-control" placeholder="http://servername/site/...." id="sourceUrl">
        <span class="input-group-btn ">
        <button class="btn btn-default " id="sbox-bt" type="button">
            <span class="icon-z"></span>
        </button>
        </span>
    </div>
  </div><!-- /.col-lg-6 -->

     <div class="col-lg-2 ">
     
  </div><!-- /.col-lg-6 -->
</div> 
   
</block>
<block name="posts">

     <hr />
    <div class="row">
       
        <div class="col-lg-2"></div>
  <div class="col-lg-8">
        <div  class="vertical-line">
            <div class="popover right bs-example-popover  popover-year" >
                <span class="glyphicon glyphicon-record target-year target text-info"></span>
                <div class="arrow"></div>
                <h3 class="popover-title">Popover right</h3>
                <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
         </div>
        
       <div class="vertical-line">
           <div class="popover right bs-example-popover popover-month" >
               <span class="glyphicon glyphicon-record target-month target text-success"></span>
                <div class="arrow"></div>
                <h3 class="popover-title">Popover right</h3>
                <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
         </div>
       <div class="vertical-line">
            <div class="popover right bs-example-popover popover-day" >
                 <span class="glyphicon glyphicon-record target-day target text-warning"></span>
                <div class="arrow"></div>
                <h3 class="popover-title">Popover right</h3>
                <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
         </div>
       <div class="vertical-line">
            <div class="popover right bs-example-popover popover-hour" >
                 <span class="glyphicon glyphicon-record target-hour target text-danger"></span>
                <div class="arrow"></div>
                <h3 class="popover-title">Popover right</h3>
                <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
         </div>
             <div class="vertical-line">
            <div class="popover right bs-example-popover popover-hour" >
                 <span class="glyphicon glyphicon-record target-hour target text-danger"></span>
                <div class="arrow"></div>
                <h3 class="popover-title">Popover right</h3>
                <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
         </div>
             <div class="vertical-line">
            <div class="popover right bs-example-popover popover-hour" >
                 <span class="glyphicon glyphicon-record target-hour target text-danger"></span>
                <div class="arrow"></div>
                <h3 class="popover-title">Popover right</h3>
                <div class="popover-content">
                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
         </div>
  </div> 
         <div class="col-lg-2"></div>
            </div>
 
	<script type="text/javascript">
	    require(['index']);
	</script>
</block>

