<extend name="_layout" />

<block name="main">
<div class="row">
         <div class="col-lg-2 ">
     
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-8 zrl-group">
    <div class="input-group input-group-lg" style="margin-bottom:15px;">
        <input type="text" autocomplete="off"   class="form-control" placeholder="http://servername/site/...." id="sourceUrl">
        <span class="input-group-btn ">
        <button class="btn btn-default " id="sbox-bt" type="button">
            <span class="icon-z"></span>
        </button>
        </span>
    </div>
  </div><!-- /.col-lg-6 -->

     <div class="col-lg-2 ">
     
  </div><!-- /.col-lg-6 -->
</div> 
   
</block>
<block name="scripts">
    <script type="text/javascript">
       require(['index']);
	</script>
</block>
 

